
    <!-- Scripts -->
    <script src={{ "assets/js/jquery.min.js" | absURL }}></script>
    <script src={{ "assets/js/browser.min.js" | absURL }}></script>
    <script src={{ "assets/js/breakpoints.min.js" | absURL }}></script>
    <script src={{ "assets/js/util.js" | absURL }}></script>
    <script src={{ "assets/js/main.js" | absURL }}></script>
    <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="jeremyber" data-description="Support me on Buy me a coffee!" data-message="" data-color="#40DCA5" data-position="Right" data-x_margin="18" data-y_margin="18"></script></html>